<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dummy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.023458 4.1614E-05 0.01488"
        rpy="0 0 0" />
      <mass
        value="7.4299" />
      <inertia
        ixx="0.018015"
        ixy="-1.476E-06"
        ixz="7.8532E-06"
        iyy="0.017454"
        iyz="-1.8649E-06"
        izz="0.032626" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.58 0.60 0.63 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0095541 -0.0097212 0.017336"
        rpy="0 0 0" />
      <mass
        value="0.41591" />
      <inertia
        ixx="0.00019273"
        ixy="8.0547E-05"
        ixz="-7.0434E-05"
        iyy="0.00023726"
        iyz="4.5128E-05"
        izz="0.0002915" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52 0.54 0.57 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.087"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.00011059 0.072815 -0.00074325"
        rpy="0 0 0" />
      <mass
        value="2.4617" />
      <inertia
        ixx="0.0025416"
        ixy="1.8245E-05"
        ixz="-3.0522E-06"
        iyy="0.000667"
        iyz="0.00049553"
        izz="0.0026803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50 0.52 0.55 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.035 0 0.0375"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.30"
      upper="2.18"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.045234 -0.014686 0.0040411"
        rpy="0 0 0" />
      <mass
        value="0.97684" />
      <inertia
        ixx="0.0002136"
        ixy="-5.0865E-06"
        ixz="7.4844E-05"
        iyy="0.00045138"
        iyz="2.6957E-06"
        izz="0.00033322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.46 0.49 0.53 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0.146 0"
      rpy="0 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.63"
      upper="1.60"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="3.1941E-05 -0.001882 0.074425"
        rpy="0 0 0" />
      <mass
        value="0.78186" />
      <inertia
        ixx="0.00031278"
        ixy="2.8892E-09"
        ixz="-1.1305E-07"
        iyy="0.00036955"
        iyz="-2.2564E-05"
        izz="0.00010046" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43 0.46 0.50 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.052 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="6.3266E-05 0.037839 -0.0065388"
        rpy="0 0 0" />
      <mass
        value="0.39302" />
      <inertia
        ixx="0.00014849"
        ixy="-3.6616E-10"
        ixz="2.2123E-07"
        iyy="8.5236E-05"
        iyz="-2.5118E-05"
        izz="0.00014426" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0.117"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.76"
      upper="1.76"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-2.7756E-17 1.7347E-17 0.0075"
        rpy="0 0 0" />
      <mass
        value="0.1062" />
      <inertia
        ixx="1.5611E-05"
        ixy="3.1364E-21"
        ixz="-1.8171E-21"
        iyy="1.5611E-05"
        iyz="-1.7894E-21"
        izz="2.7258E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0.0625 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <mujoco>
        <compiler balanceinertia="true" discardvisual="false" meshdir="../meshes"/>
  </mujoco>
</robot>


